.todoListStyle {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 10px;
  padding-inline: 10px;
  color: black;
  border-left-color: green;
  border-left-style: solid;
  border-left-width: 15px;
  box-shadow: 0px 0px 5px 1px #aaaaaa;
  margin-top: 10px;
  text-align: left;
}

.features {
  display: flex;
}

.featureStyle {
  border-style: none;
  background-color: darkred;
  color: white;
  padding: 5px;
  border-radius: 10px;
  align-self: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.inputStyle1 {
  margin-inline: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-width: 0px;
  box-shadow: -2px 2px 8px 2px #aaaaaa;
  border-radius: 5px;
}

.editStyle {
  background-color: rgb(1, 85, 1);
  color: white;
  border-style: none;
  box-shadow: -2px 2px 8px 2px #aaaaaa;
  border-radius: 5px;
}
